# Scylla
scylla_host=
scylla_username=
scylla_password=

# Informations
region=tr-home-01
name=My Computer

# Settings
concurrency=1

# SSL
ssl_private_key=

# Resolver
resolver_ip=

# Redis
redis_host=
redis_username=
redis_password=

country=Turkiye
city=Test
code=01